.contenedor-1{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-block: 50px;
    background-color: #0057b300;
    font-family: var(--font-text);
  }

  /* Estilos generales para el producto */
.producto-detalle-carrito {
    display: flex; /* Distribución horizontal con flexbox */
    max-width: 1200px;
    width: 100%; /* Ancho relativo */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-inline: 20px;
    background-color: white;
  }
  
  /* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .producto-detalle-carrito {
        flex-direction: column; /* Cambia la dirección del flexbox a vertical */
        width: 90%; /* Ancho relativo */
        margin-top: 50px; /* Reducción del margen superior */
    }
  }

   /* Estilos para la información del producto */
.producto-informacion-carrito {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra difusa */
    text-align: left;
    border-radius: 15px;
    align-items: center;
    background-color: white;
  
  transform: 200px;
  }
  .producto-informacion-carrito:hover {
  box-shadow: 0 0 10px rgba(22, 69, 25, 0.5);
    transform: translateY(-5px); /* Efecto al pasar el mouse */
    transition: transform 0.3s, box-shadow 0.3s; /* Transición suave */
  }
  
  @media (max-width: 768px) {
    .producto-informacion-carrito {
        width: calc(100% - 20px); /* Reducir el ancho en pantallas pequeñas */
        margin-left: 0; /* Eliminar el margen izquierdo en pantallas pequeñas */
    }
  }

.info-productos{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.descripcion-carrito{
  
  font-family: var(--font-text) ;
  font-size: clamp(2vw, 5vw, 1.5rem); 
  font-weight: bold;
  line-height: 1.1; 
  color: #337841;
  margin-bottom: 25px;
  margin-top: 10px;
  
  text-align: center;
}

table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse; 
  border: 1px solid #d0c4c4cd; 
  border-radius: 15px;
}

th{
  font-family: var(--font-text) ;
  padding: 15px;
  text-align: left;
  color: #b38b5b;
  font-size: clamp(1vw, 2.8vw, 1.3rem);
}
td {
  padding: 15px;
  text-align: left;
  font-family: var(--font-text);
  font-weight: bold;
  font-size: clamp(1vw, 2.8vw, 1.1rem);  
}

.nombre-producto{
  color: #337841;
}

.precio-producto{
  color: #EB6613;
  font-weight: normal;
}

.cantidad-producto{
  color: #b38b5b;
  text-align: center;
}

.subtotal-producto{
  color: #EB6613;
  font-weight: bold;
}


tr{
  border: 1px solid #d0c4c4cd;
}

tr:hover {
  background-color: #eef3eefb; /* Gris claro de fondo al pasar el mouse */
}

/* Estilos para la imagen del producto */
.producto-informacion-carrito img {
  max-width: 150px;
  height: auto;
  margin-right: 20px;
  border-radius: 50px;
  
}

/* Estilos para input de cantidad */
#cantidad-det{
  width: 3em;
  font-weight: bold;
  text-align: center;
  min-height: 35px;
  border-color: #dbd3d3c7;
  color: #b38b5b;
}

/* Estilos para el subtotal y total--------------------- */

.total-carrito{
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 25px;
 

}

.titulo-total-carrito {
  font-family: var(--font-text) ;
  font-size: clamp(1.5vw, 5vw, 1rem); 
  font-weight: bold;
  text-align: left;
  font-size: clamp(1vw, 2.8vw, 1.3rem);
  
}

.total-carrito{
  
  margin-bottom: 50px;
  

}

.total-carrito .total {
  font-size: 18px;
  font-weight: bold;
  color: #090909; /* Color de acento para el total */
}

/* Estilos para el botón de compra (continuación) */
.btns-compra-carrito {
  background-color: #276cb1; /* Color de acento para el botón */
  display: inline-block; /* Cambiado a inline-block para permitir el ajuste del ancho */
  padding: 0.5vw 1.5vw; /* Ajusta el relleno del botón en función del tamaño de la pantalla */
  border-radius: 2rem; /* Redondea los bordes del botón */
  font-size: clamp(0.8rem, 1.5vw, 1.3rem); /* Ajusta el tamaño de la fuente del botón según el ancho de la pantalla */
  font-weight: 500;
  color: white;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background: #EB6613;
  margin: 0 auto;
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  
}

.btn-comprar:hover {
background-color: #1976D2; /* Color de acento más oscuro al pasar el mouse */
}

/* Estilos para la eliminación de productos */
.producto-informacion-carrito .eliminar {
color: #dc3545; /* Color rojo para la eliminación */
font-size: 16px;
cursor: pointer;
}

.producto-informacion-carrito .eliminar:hover {
color: #c82333; /* Color rojo más oscuro al pasar el mouse */
}

/* Estilos para la tabla de compra total */
.total {
width: 50%;

}